src/agp/libagpnv.c text eol=lf
src/glfix/libglfix.c text eol=lf
src/is1gl/*.c text eol=lf
src/is1gl/*.h text eol=lf
resources/XF86Config-4.qemu-cirrus text eol=lf
src/is1clock/is1clock.c text eol=lf
src/is1clock/*.sh text eol=lf
